.scan-canvas {
    border: solid 2px black;
    width: 100%;
    transition: top 1s;
} 

.centered {
    text-align: center;
}

.signal-chart {
    height: 200px;
    border: solid 1px black;
    margin-bottom: 10px;
    float:left;
    text-align: center;
    font-weight: bold;
    // margin-bottom: 2em;
    width: 100%;
}

.signal-chart.chart-expanded {
    height: 200px;
}

.signal-chart.chart-collapsed {
    height: 0px;
}

.show-hide-chart-btn {
    min-height: 0px;
    height: 25px;
    // -webkit-transition:top linear 1s;
    // transition:top linear 1s;
    // top: 0px;
}

// .show-hide-chart-btn.up {
//     top: -200px
// }

.show-hide-chart-btn i {
    font-size: 30px;
    vertical-align: top;
    // position: absolute;
}


.slide-enabled {
    position: relative;
    height: 200px;
    -webkit-transition:top linear 1s;
    transition:top linear 1s;
    top: 0;
}

.slide-enabled.ng-hide {
    top: -200px;
}

.slide-enabled.ng-hide-add, .slide-enabled.ng-hide-remove {
    display:block!important;
}