<content has-header="true" has-footer="false" padding="true">

	<!-- <scannable ng-model="data"> -->
		<!-- <div ac-chart="chartType" ac-data="chartData" ac-config="config" id='chart' class='signal-chart'></div> -->
		
		<!-- ng-class="{true:'chart-expanded', false:'chart-collapsed'}[showChart]" -->
		<!-- <div class="slide-enabled" ng-show="showChart"> -->
			<!-- <button slide-toggle="#chart" expanded="true" class="button button-block show-hide-chart-btn"  ng-click="showChart = !showChart">
				<i ng-class="{true:'ion-arrow-up-b', false:'ion-arrow-down-b'}[showChart]"></i>
			</button> -->
			<!-- <div> -->
				<div d3chart id='chart' class='signal-chart slide-enabled' ac-data="chartData" ng-show="showChart" ng-dblclick="showChart = !showChart">
					<svg></svg>
				</div>
			<!-- </div> -->

		<!-- </div> -->

		<canvas scannable id="scanCanvas" class="scan-canvas" ng-dblclick="showChart = !showChart"/>
	<!-- </scannable> -->
</content>
